*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg, #33ccff 0%, #ff99cc 100%) no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
    /* To do : Add a after affecr to turn its opacity to max in js*/
    font-size: 1.6rem;
}

button{
    /* To do : Add a after affect to change its color to specified one  in js */
    border-radius: 5px;
    margin:5px;
    padding: 2.5px;
    background-color: white;
    border: 1px white solid;
}
.grid-container{
    display: grid;
    z-index: 100;
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    margin: 20px 0;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    padding: 20px;
}
.navbar{
    display: flex;
    margin: 10px 0;
}
.navbar .red,.navbar .blue,.navbar .green,.navbar .rgb,.navbar .reset.click{
    transition: 500ms;
}
.navbar .red.click{
    background-color: red;
    color: white;
    border: 1px white solid;
}
.navbar .blue.click{
    background-color: blue;
    color: white;
    border: 1px white solid;
}
.navbar .green.click{
    background-color: green;
    color: white;
    border: 1px white solid;
}
.navbar .rgb.click{
    background: red;
    color: white;
    border: 1px white solid;
}
.navbar .reset.click{
    background-color: black;
    color: white;
    border: 1px white solid;
}
.grid .activeReset{
    background-color: white;
    border:1px white solid;

}